@font-face {
    font-family: Fujimaru;
    src: url(./Assets/fonts/Fujimaru-Regular.ttf);
}
* {
    font-family: Fujimaru;
}
.animLeft {
    opacity: 0;
    transform: translateY(-20px);
    animation: animLeft .6s forwards;
  }
  
  @keyframes animLeft {
    to {
      opacity: 1;
      transform: initial;
    }
  }

  .arrow {
    margin-top: 4rem;
    animation: move 2s infinite;
    position: absolute;
    top: 90%;
    transition: .5s;
}
 
@keyframes move {
    0% {
        top: 90%;
    }
    50% {
        top: 95%;
    }
    100% {
        top: 90%;
    }
}